@font-face {
  font-family: clash;
  src: url('../fonts/cc.eot'); /* IE9 Compat Modes */
  src: url('../fonts/cc.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/cc.woff') format('woff'), /* Modern Browsers */
  url('../fonts/cc.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/cc.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {	
  font-family: cartoonist;
  src: url('../fonts/cartoonist.eot'); /* IE9 Compat Modes */
  src: url('../fonts/cartoonist.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/cartoonist.woff') format('woff'), /* Modern Browsers */
  url('../fonts/cartoonist.ttf') format('truetype'),
  url('../fonts/cartoonist.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body {
    font-family: clash, Arial, Helvetica, sans-serif;
}
.noclash {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
  color: #0094D4;
  font-size: 40px;
  text-align: center;
}
#header a:hover {
  color: #0094D4 !important;
  text-decoration: none !important;
}

footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
  text-align: center;
  font-family: Arial;
  font-size: 10px;
  color:#bdbdbd;
}

.center {
    position: relative;
    text-align: center;
}

h2 {
    font-size: 17px;
}

h2, h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

a.w400 {
    /*min-width: 400px;*/
    width: 100%;
}

.target * {
    vertical-align: middle;
}
.target span.big {
    font-size: 26px;
    display: inline-block;
    width: 60px;
}
.target img {
    cursor: pointer;
}
.target .hdv {
    width: 40px;
    height: 40px;
}
.target .result .glyphicon {
    vertical-align: top;
}

.form-horizontal .radio {
    display: inline-block;
}
.form-horizontal .radio label {
    margin-right: 10px;
}
.form-horizontal input[type=number] {
    width: 75px;
}

.prepday {
    color: green;
}
.warday {
    color: red;
}

.resultWar {
    width: 100%;
    border: 1px solid grey;
    border-radius: 15px;
    margin-bottom: 15px;
}
.resultWar td {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
}
.resultWar p {
    margin: 0;
    padding: 0;
}
.resultWar .bzhClan {
    text-align: right;
    width: calc(45% - 11px);
    display: inline-block;
    padding: 3px;
}
.resultWar .vs {
    width: 10%;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    padding: 3px;
}
.resultWar .vsClan {
    text-align: left;
    width: calc(45% - 11px);
    display: inline-block;
    padding: 3px;
}
.pointer {
    cursor: pointer;
}
.s15 {
    font-size: 15px;
}
#targetattack {
    width: 400px !important;
}
#resultattack {
    width: 500px !important;
}
#resultattack div.col-sm-6 {
    text-align: left;
}
#resultattack div.col-sm-6 input[type=number] {
    display: inline-block;
}

#targethdv {
    width: 300px;
}
#targethdv #target_hdv_hdv {
    margin: auto;
}

.attack {
    display: inline-block;
    text-align: left;
    margin-right: 15px;
}
.attack .name {
    color: #01abf2;
    cursor: pointer;
}
.attack .delete {
    cursor: pointer;
    color:red;
}
.attack p {
    margin: 0;
}
.attack span.timer {
    vertical-align: top;
    line-height: 16px;
}

#target_comment #input-image {
    margin-top: 7px;
}

#target_comment #input-image input[type="text"] {
    width: 199px;
    float: left;
}
#target_comment #input-image .input-group-btn {
    float:left;
    width: auto;
}
#target_comment #input-image a {
    float: right;
    padding-top: 6px;
}
#target_comment_image {
    display: none;
}

div#context p {
    margin: 0;
}

ul.ui-autocomplete {
    z-index: 9999;
    font-family: "clash";
}

/*@media (max-width: 600px) {
    div.target {
        text-align: center;
    }
    div.attack {
        width: 100%;
        text-align: center;
    }
}*/