{% extends "BzhCoreBundle::layout.html.twig" %}

{% block body %}
    <h2>Liste des joueurs de {{ clan.name }}</h2>
    
    {# <ul>
      {% for m in json.items %}
        <li>{{ m.tag }} {{ m.name }} {{ m.role }}</li>
      {% endfor %}
    </ul> #}
    
    {# dump(json) #}
{% endblock %}
