{% extends "BzhCoreBundle::layout.html.twig" %}

{% block body %}
    <h2>Liste des joueurs</h2>

    <div class="center col-md-5">
        clash bzh
    </div>
    <div class="center col-md-5 col-md-offset-2">
        Skol Clash Bzh
    </div>

{% endblock %}
