{% extends "BzhCoreBundle::layout.html.twig" %}

{% block body %}
    <h3>Résultat de la guerre contre <a href="{{ path('war_code', {'code':war.code }) }}">{{ war.vsClan.name }}</a></h3>

    <div class="well">
        {{ form(form) }}
    </div>
{% endblock %}